<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>586818569165-5fnbt8crnpvhav2dkraarm9jns68v3vv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.586818569165-5fnbt8crnpvhav2dkraarm9jns68v3vv</string>
	<key>API_KEY</key>
	<string>AIzaSyAkjjCl0_7uA4gMVDLTS42zqXKfFuPVuI8</string>
	<key>GCM_SENDER_ID</key>
	<string>586818569165</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.examenFinal</string>
	<key>PROJECT_ID</key>
	<string>examen-final-futta</string>
	<key>STORAGE_BUCKET</key>
	<string>examen-final-futta.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:586818569165:ios:57d6268b35621cbe12ba84</string>
</dict>
</plist>